$system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


body {
    font-family: $system-ui;
}

a.navbar-link {
    color: white;
}

.ws-navbar-main .nav-item {
    font-weight: 700;
    font-size: 1rem;
}

a:hover.navbar-link,
a:active.navbar-link {
    border-bottom: 4px solid white;
    padding-bottom: -4px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .ws-navbar-main {
        padding-top: 0;
        padding-bottom: 0;
    }

    .ws-navbar-main .nav-link {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .ws-navbar-main .nav-item.active .nav-link,
    .ws-navbar-sub .nav-item.active .nav-link {
        padding-bottom: 12px;
        border-bottom: 4px solid #72d0eb;
        color: white;
    }
}