// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.



//
// Color system
//

$primary: $pink;
$secondary: $purple;
$info: $cyan;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);


// Links
//
// Style anchor elements.

$link-color: theme-color("primary");
$link-hover-color: $pink-tint-1;


// Pagination

$pagination-color: $pink;
$pagination-border-color: $pink;

$pagination-hover-color: $white;
$pagination-hover-bg: $link-color;
$pagination-hover-border-color: $link-color;

$pagination-active-color: $white;
$pagination-active-bg: $purple;
$pagination-active-border-color: $purple;

$pagination-disabled-color: $gray-400;
$pagination-disabled-border-color: $pink;


// Breadcrumbs

$breadcrumb-divider-color: $blue-dark;
$breadcrumb-active-color: $body-color;
$breadcrumb-active-font-weight: bold;